<h1 mat-dialog-title>{{data.action}} {{data.title | titlecase}}</h1>
<div mat-dialog-content>
    <div class="my-3 d-flex row">
        <div *ngFor="let field of getEditableFields()" class="col-5">
            <div *ngIf="!field.hidden" class="my-2">
                <label class="">{{field.label}}</label>
                <div *ngIf="field.type =='text' ">
                    <input mdbInput type="text" class="form-control" [disabled]="field.disabled"
                        [(ngModel)]="this.data.editedItem[field.field].value">
                </div>
                <div *ngIf="field.type =='select' ">
                    <select class="browser-default custom-select" [disabled]="field.disabled"
                        [(ngModel)]="this.data.editedItem[field.field].value">
                        <option *ngFor="let o of field.options" [value]="o.value">{{o.text}}</option>
                    </select>
                </div>
                <div *ngIf="field.type =='date' ">
                    <input mdbInput type="date" class="form-control" [disabled]="field.disabled"
                        [(ngModel)]="this.data.editedItem[field.field].value">
                </div>
            </div>
        </div>
    </div>
</div>
<div mat-dialog-actions class="">
    <div class="col-4 m-0 p-0 d-flex justify-content-left">
        <button type="button" class="btn btn-success btn-rounded waves-effect btn-sm mr-2" (click)="onSaveClick()">
            <span>Enregistrer</span>
        </button>
        <button type="button" class="btn btn-danger btn-rounded waves-effect btn-sm" (click)="onNoClick()">
            <span>Annuler</span>
        </button>
    </div>
</div>