<h3 class="card-header text-center font-weight-bold text-uppercase py-4">{{this.title}}</h3>
<div class="m-2 row">
    <div class="col-6 m-0 p-2">
        <div *ngIf="this.parent" class="border rounded p-2">
            <div class="row my-2">
                <span class="h4 col-12">Informations personnelles</span>
            </div>
            <div class="row my-2">
                <span class="col-3"> <i class="fas fa-user" aria-hidden="true"></i> Nom & Prénom </span>
                <span class="col-9">{{this.parent.firstName}} {{this.parent.lastName | uppercase}}</span>
            </div>
            <div class="row my-2">
                <span class="col-3"><i class="far fa-envelope" aria-hidden="true"></i> Adresse email</span>
                <span class="col-9">
                    <a href="mailto:{{parent.emailAdress}}" target="_blank">{{parent.emailAdress}}</a>
                </span>
            </div>
            <div class="row my-2">
                <span class="col-3"><i class="fas fa-phone" aria-hidden="true"></i> Numéro de téléphone</span>
                <span class="col-9">{{this.parent.phoneNumber}}</span>
            </div>
            <div class="row mt-2">
                <span class="col-3"><i class="fas fa-power-off"></i> Statut</span>
               <app-user-status class="col-9" [status]="this.parent.status">=</app-user-status>

            </div>
        </div>
    </div>

    <div class="col-6 m-0 p-2">
        <div *ngIf="this.students" class="border rounded p-2">
            <div class="row my-2">
                <span class="h4 col-12">Élèves liés ({{this.students.length}})</span>
                <div class="col-12">
                    <table class="table table-sm table-striped table-bordered rounded">
                        <thead>
                            <tr>
                                <th>Nom & prénom</th>
                                <th>Classe</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let s of this.students">
                                <!-- {{s.firstName}} {{s.lastName | uppercase}} -->
                                <td>
                                    <a routerLink="/students/{{s.id}}">{{s.firstName}} {{s.lastName | uppercase}}</a>
                                </td>
                                <td>
                                    <a routerLink="/classes/{{s.classId}}">{{s.aclass.levelName}} {{s.aclass.name}}</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
             
            </div>
        </div>
    </div>
</div>