<div class="col-6 m-3">
    <div class="h3">Infomations personelles</div>
    <table *ngIf="this.currentUser" class="table table-sm table-striped table-bordered">
        <tbody>
            <tr>
                <td>Username</td>
                <td>{{currentUser.userName}}</td>
            </tr>
            <tr>
                <td>Nom</td>
                <td>{{currentUser.firstName}}</td>
            </tr>
            <tr>
                <td>Prénom</td>
                <td>{{currentUser.lastName}}</td>
            </tr>
            <tr>
                <td>Roles</td>
                <td>
                    <div *ngFor="let role of this.currentUser.roles">
                        <span>{{role}}</span>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    <div>
        <a href="http://localhost:8083/auth/realms/lyceena/account" target="_blank">Gérer mon utilisateur</a>
    </div>
</div>