<!--Navbar-->
<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark cyan sticky-top" [containerInside]="false">
    <mdb-navbar-brand><a class="navbar-brand" href="#">LYCEENA</a></mdb-navbar-brand>
    <links>
        <ul *ngIf="this.menus" class="navbar-nav">
            <li *ngFor="let m of this.menus" class="nav-item dropdown" dropdown>
                <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light"
                    mdbWavesEffect>
                    <mdb-icon fas icon="cog"></mdb-icon> {{m.label}}<span class="caret"></span>
                </a>
                <div *dropdownMenu class="dropdown-menu dropdown-menu-right dropdown dropdown-primary" role="menu">
                    <a *ngFor="let sb of m.subMenus" class="dropdown-item waves-light" mdbWavesEffect href="{{sb.route}}">{{sb.label}}</a>
                </div>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
                <a class="nav-link waves-light" mdbWavesEffect>
                    <mdb-icon fas icon="envelope"></mdb-icon> Contact<span class="sr-only">(current)</span>
                </a>
            </li>
            <li class="nav-item dropdown" dropdown>
                <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light"
                    mdbWavesEffect>
                    <mdb-icon fas icon="user"></mdb-icon> {{currentUser.name}}<span class="caret"></span>
                </a>
                <div *dropdownMenu class="dropdown-menu dropdown-menu-right dropdown dropdown-primary" role="menu">
                    <a class="dropdown-item waves-light" mdbWavesEffect href="#">My account</a>
                    <a class="dropdown-item waves-light" mdbWavesEffect href="#"(click)="logout()">Log out</a>
                </div>
            </li>
        </ul>
    </links>
</mdb-navbar>