<div class="m-3">
    <div class="h5">Traces Http</div>
    <div class="tableFixHead">
        <table *ngIf="this.httpTrace" class="col-12 table table-sm table-striped table-bordered border rounded very-small-font-size">
            <thead>
                <tr>
                    <th>Méthode</th>
                    <th>URI</th>
                    <th>Temp</th>
                    <th>Executeur</th>
                    <th>Réponse</th>
                    <th>Durée d'execution (s)</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let t of httpTrace.traces">
                    <td>{{t.request.method}}</td>
                    <td>
                        <a href="{{t.request.uri}}" target="_blank">{{t.request.uri}}</a>
                    </td>
                    <td>{{t.timestamp *1000 | dateTimeFormat }}</td>
                    <td>{{t.principal.name}}</td>
                    <td>{{t.response.status}}</td>
                    <td>{{t.timeTaken / 1000}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>