<div class="mt-3">
    <h3 class="card-header text-center font-weight-bold text-uppercase py-4">{{title}}</h3>
    <div class="mt-3">
        <div id="table" class="table-editable">
            <div class="row mx-2">
                <div class="col-md-10">
                    <div class="md-form m-0">
                        <input type="text" [(ngModel)]="searchText" class="form-control" id="search" mdbInput />
                        <label for="search">Recherche</label>
                    </div>
                </div>
                <div class="col-md-2">
                    <span class="table-add float-right">
                        <a class="text-success" (click)="add()">
                            <mdb-icon fas icon="plus" size="2x"></mdb-icon>
                        </a>
                    </span>
                </div>
            </div>
            <table small="true" mdbTable #tableEl="mdbTable"  class="table-hover" >
                <thead class="grey lighten-5 w-100 ">
                    <tr>
                        <th 
                            *ngFor="let head of heads; let i = index" scope="col" class="font-weight-bold">
                            <div *ngIf="!head.hidden">
                                {{head.label}}
                                <mdb-icon fas icon="sort" (click)="sortBy(head)"></mdb-icon>
                            </div>
                        </th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let el of elements; let i = index" [ngClass]="{'cursor-pointer': this.clickable}">
                        <ng-container  
                            *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex">
                            <td *ngFor="let h of heads" scope="row" (click)="onItemClick(el)">
                                <div *ngIf="!h.hidden">
                                    <!--  -->
                                    <div *ngIf="!h.nav">
                                        <!--  -->
                                        <div *ngIf="h.field == 'status'; else email">
                                            <app-user-status class="pl-3" [status]="getField(i,h.field).text"></app-user-status>
                                        </div>
                                        <ng-template #email>
                                            <div *ngIf="h.field == 'emailAdress'; else noStatus">
                                                <a href="mailto:{{getField(i,h.field).text}}">{{getField(i,h.field).text}}</a>
                                            </div>
                                        </ng-template>
                                       
                                        <ng-template #noStatus>{{getField(i,h.field).text}}</ng-template>
                                    </div>
                                    <a routerLink="{{h.nav + '/' + getField(i,h.field).value}}" *ngIf="h.nav" >
                                        {{getField(i,h.field).text}}
                                    </a>
                                </div>
                            </td>
                        </ng-container>
                        <td *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex" class="text-right actions-col">
                            <button type="button" class="btn btn-danger btn-rounded waves-effect mr-2 btn-sm" (click)="onRemove(el)"><i
                                    class="fas fa-trash" aria-hidden="true"></i></button>
                            <button type="button" class="btn btn-primary btn-rounded waves-effect btn-sm" (click)="edit(i)"><i
                                    class="fas fa-pen" aria-hidden="true"></i></button>
                        </td>
                    </tr>
                </tbody>
                <tfoot class="grey lighten-5 w-100">
                    <tr>
                        <td colspan="100">
                            <mdb-table-pagination [tableEl]="tableEl" [searchDataSource]="elements">
                            </mdb-table-pagination>
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>