.mat-cell{
    padding: 5px !important;
}

.mat-header-cell{
    padding: 5px !important;
}

.mat-row {
    height: 20px !important;
}

.mat-header-row {
    height: 20px;
}

.mat-paginator {
    display: flex;
    justify-content: center;
    height: 20px;
}