.cursor-pointer {
    cursor: pointer;
}

.side-nav-bg {
    background-color: #ADE8F4;
}

.side-nav-element {
    color: #FFF;
    font-size:  1.25rem; 
    margin: 5px;
    padding: 15px;   
    border-radius: 7px;
}
.side-nav-element:hover {
    background-color: #a4e2ee;
}

.mat-drawer-side {
    border-right: none
}

.mat-sidenav-content {
    padding-top: 60px !important;
}

.side-nav-padding {
    padding-top: 60px;
    padding-left: 10px;
    padding-right: 10px;
}

.side-nav-selected-menu{
    background-color: #9ad5e0;
}

.f-size-10 {
    font-size: 10px;
}

.nav-side-container {
    position: absolute !important;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
  
  .nav-side-events {
    width: 300px;
    height: 200px;
    overflow: auto;
  }

  .style-error {
    color: #FDFEFE;
    background-color: #E74C3C;
  }
  .style-error .mat-simple-snackbar-action {
    color: #FDFEFE;
    background-color: #E74C3C;
  }

  .style-success{
    color: #FDFEFE;
    background-color: #2ECC71;
  }
  .style-success .mat-simple-snackbar-action {
    color: #FDFEFE;
    background-color:#28B463;
  }

  .cursor-loader {
    cursor: wait !important;
  }

  .details-title-bg {
    background-color: #F8F9F9 !important;
  }

  .very-small-font-size {
    font-size: 10px !important;
  }

  .font-size-12 {
    font-size: 12px !important;
  }

  .color-fff {
    color : #fff !important;
  }