<mat-sidenav-container class="example-container">
    <mat-sidenav #sidenav mode="side" [(opened)]="opened" class="side-nav-bg  side-nav-padding navbar-dark navbar-bran">
        <div class="col-12">
            <div *ngFor="let menueItem of menueItems" class="row side-nav-element cursor-pointer"
                [ngClass]="{'side-nav-selected-menu': this.selectedMenu.code ===  menueItem.code }"
                (click)="onSelectMenu(menueItem)">
                {{menueItem.text}}
            </div>
        </div>
    </mat-sidenav>

    <mat-sidenav-content class="navbar">
        <div *ngIf="this.class">
            <div class="border rounded p-4 m-2">
                <span class="font-weight-bold">Classe: </span>
                <span>{{this.class.level.name}} {{this.class.name}}</span>
            </div>
            <div class="border rounded p-4 m-2">
                <app-students-list [classId]="this.class.id" *ngIf="this.selectedMenu.code ===  'students'"></app-students-list>
                <app-teachers-list [classId]="this.class.id" *ngIf="this.selectedMenu.code ===  'teachers'"></app-teachers-list>
                <app-time-sheet    [classId]="this.class.id" *ngIf="this.selectedMenu.code ===  'time-sheet'"></app-time-sheet>
            </div>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>